Header {
  border-left: thick #15f5ba;
}

#SearchBar {
  dock: top;
  height: auto;
  width: 100%;
  margin: 2 0 1 0;

  & #SearchIcon {
    border: hidden;
    height: auto;
    content-align-horizontal: center;
    min-width: 3;
    background: #ffffff 100%;
    color: #836fff;
  }

  & #SearchMusic {
    border: hidden;
    height: auto;
    width: 1fr;
    background: #ffffff 30%;
  }

  & #SearchBtn {
    border: hidden;
    min-width: 8;
    background: #836fff;
    color: #ffffff;
    text-style: bold;
    &:hover {
      background-tint: #000000 10%;
    }
  }
}

#SongsListView {
  height: auto;

  Horizontal {
    height: 1;
  }

  & .title.--icon {
    color: #836fff;
    text-style: reverse;
    padding: 0 0 0 0;
  }

  & .title.--content {
    color: #000000;
    background: #f0f3ff;
    width: 1fr;
  }

  & .--icon {
    padding: 0 1 0 4;
    color: #f0f3ff;
  }
}

ConfirmationScreen {
  align: center middle;

  #dialog {
    grid-size: 1 5;
    grid-rows: auto;
    padding: 0 1;
    width: 60;
    height: 9;
    border: thick $background 80%;
    background: $surface;
  }

  Horizontal {
    height: auto;

    & .title.--icon {
      color: #836fff;
      text-style: reverse;
      padding: 0 0 1 0;
    }

    & .title.--content {
      color: #000000;
      background: #f0f3ff;
      width: 1fr;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    & .--icon {
      padding: 0 1 0 4;
      color: #f0f3ff;
    }

    Button {
      margin: 1 0;
      width: 1fr;
      border: hidden;
      content-align: center middle;
    }

    #AddBtn {
      color: #000000;
      background: #15f5ba;
      text-style: bold;
      &:hover {
        background-tint: #000000 10%;
      }
    }

    #DeleteBtn {
      color: #000000;
      background: #cfcfcf;
      text-style: bold;
      &:hover {
        background-tint: #000000 10%;
      }
    }
  }
}

SearchScreen {
  align: center middle;

  #dialog {
    grid-size: 1 5;
    grid-rows: auto;
    padding: 0 1;
    width: 50%;
    height: 22;
    border: thick $background 80%;
    background: $surface;
  }

  Horizontal {
    height: auto;

    & .title.--icon {
      color: #836fff;
      text-style: reverse;
      padding: 0 0 0 0;
    }

    & .title.--content {
      color: #000000;
      background: #f0f3ff;
      width: 1fr;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    & .--icon {
      padding: 0 1 0 4;
      color: #f0f3ff;
    }
  }
}
